<header>
{%if pseudo != ''%}
    <h1>Bienvenu {{pseudo}}</h1>
{%endif%}

    <nav>
        <ul>
            <a href="/acceuil"><li>Acceuil</li></a>
            <a href="/games"><li>Jeux</li></a>
            <a href="/commu"><li>Communauté</li></a>
        </ul>
    </nav>
    </header>